html
html
   head
      title Form Tester
   body
      form(action = "/uploadBill", method = "POST" enctype="multipart/form-data")
         div
            label(for = "Bill type") Bill Type:
            select(name="billType")
               each bill in config.bills
                  if requestedBillType == bill.name
                     option(value=bill.name selected) #{bill.name}
                  else 
                     option(value=bill.name) #{bill.name}
         br
         div
            label(for = "to") To:
            input(name = "proof" value = "Express forms" type="File")
         br
         button(type = "submit") Send my greetings