doctype html
html
   head
      meta(name="viewport" content="width=device-width, initial-scale=1")
      style
         include style.css
      title Form Tester
   body
      form(action = "uploadBill", method = "POST" enctype="multipart/form-data")
         div
            label(for = "Bill type") Bill Type:
            select(name="billType")
               each bill in config.bills
                  if requestedBillType == bill.name
                     option(value=bill.name selected) #{bill.name}
                  else 
                     option(value=bill.name) #{bill.name}
         br
         div
            label(for = "to") Proof:
            input(name = "proof" value = "Express forms" type="File" required)
         br
         input(type = "submit" value="Upload proof!") 